@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    background: #223;

}

.parent {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 70% 30%;

}

.div1 {
    width: 100%;
    height: 100%;

    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    grid-template-columns: 33% 34% 33%;
    padding: 2%;
}
.hijo1{
    width: 100%;
    height: 100%;

    display: grid;
    padding: 2%;


}
.hijo2{
    width: 100%;
    height: 100%;
    display: grid;
    padding: 2%;
}
.hijo3{
    width: 100%;
    height: 100%;

    display: grid;
    padding: 2%;

}

.hijastro1{

    width: 100%;
    height: 50%;
    margin: auto;


}
.hijastro2{

    width: 100%;
    height: 50%;
    margin: auto;
}
.hijastro3{

    width: 100%;
    height: 50%;
    margin: auto;
}
.div2 {
    width: 100%;
    height: 100%;
    grid-area: 2 / 1 / 3 / 2;
    display: grid;

}
.child1{
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    grid-template-rows: 1fr;
    grid-column-gap: 5%;
    padding: 8% 4% 8% 4%;

}

.childraso1{

}
.childraso2{

}

@media (max-width: 800px) {
    .div1 {

        grid-area: 1 / 1 / 2 / 2;
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .hijo3 {
        grid-column: span 2;
    }
    .hijastro1{

        width: 100%;
        height: 70%;
        margin: auto;

    }
    .hijastro2{

        width: 100%;
        height: 70%;
        margin: auto;
    }
    .hijastro3{

        width: 100%;
        height: 70%;
        margin: auto;
    }

}
@media (max-width: 400px) {
    .div1 {

        grid-area: 1 / 1 / 2 / 2;
        display: grid;
        grid-template-columns: 100%;
    }
    .hijo3 {
        grid-column: span 1;

    }
    .hijastro1{

        width: 100%;
        height: 90%;
        margin: auto;

    }
    .hijastro2{

        width: 100%;
        height: 90%;
        margin: auto;

    }
    .hijastro3{

        width: 100%;
        height: 90%;
        margin: auto;

    }


}

.glow-on-hover {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-size:1vw
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: 100%;
    height: 100%;
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}
/* Estilos para la modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    margin: 10% auto;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    position: relative;
}



.highPage {
    position: relative;
    color: #0b0;
    font-size: 21px;
    line-height: 1.5;
    padding: 32px 16px;
    max-width: 960px;
    margin: 0 auto;
    font-family: 'Press Start 2P', cursive;
}

.skulls {
    position: relative;
    padding: 16px 0 24px;
    max-width: 600px;
    margin: 0 auto;
    border: 24px solid;
    border-image: url(https://skullctf.com/images/skull-border.svg) 32 round;
}

.highPage h1 {
    text-align: center;
}

.highPage table {
    text-transform: uppercase;
    width: 440px;
    margin: 0 auto;
}

.highPage table th {
    min-width: 140px;
    text-align: left;
}

.highPage table tr:nth-child(1) td {
    color: red;
}

.highPage table tr:nth-child(2) td {
    color: purple;
}

.highPage table tr:nth-child(3) td {
    color: salmon;
}

.highPage table tr:nth-child(4) td {
    color: orange;
}

.highPage table tr:nth-child(5) td {
    color: yellow;
}
