
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --index: calc(1vw + 1vh);
    --color-header: #f4efec;
    --color-text: #cdc6c3;
    --gallery-gap: calc(var(--index) * 7.5)
}
html{
    width: 100%;
    height: 100%;
}
@font-face {
    font-family: raleway-c;
    src: url(../fonts/raleway-regular.woff2);
}
@font-face {
    font-family: outfit-c;
    src: url(../fonts/outfit-regular.woff2);
}
h1, h2, h3, h4, h5, h6 {
    font-family: outfit-c;
}
/* will-change */
.content, .hero, .main-header, .gallery > * {
    will-change: transform;
}
body{
    background-image: url(../img/home/bg.jpg);
    background-size: 50px;
    color: #fafafa;
    font-family: raleway-c;
    overflow-x: hidden;

}

.hero {
    width: calc(var(--index) * 36);
    position: absolute;
    left: 50vw;
    top: 10vh;
    z-index: -1;
}
.main-header {
    height: 100vh;
}
.container {
    padding: 0 7vw;
}
.main-title {
    font-size: calc(var(--index) * 8);
    position: absolute;
    width: min-content;
    bottom: 12vh;
    line-height: .9;
}
.gallery {
    display: flex;
    padding: calc(var(--index) * 8) 0;
}
.gallery > * {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.gallery__item {
    max-width: calc(var(--index) * 21);
    margin-bottom: var(--gallery-gap);
    max-height: 180vh;
    border-radius: 8px;
}
.gallery__left {
    margin-top: calc(var(--gallery-gap) * 1.75);
}
.gallery__right .gallery__item {
    margin: 0;
    margin-top: var(--gallery-gap);
}
.text-block {
    color: var(--color-text);
    position: relative;
}
.text-block__h {
    font-size: 2rem;
    line-height: 2.4rem;
    color: var(--color-header);
    margin-bottom: 1.5rem;
}
.text-block__p {
    line-height: 1.75;
}


.gallery__item {
    max-width: calc(var(--index) * 21);
    margin-bottom: var(--gallery-gap);
    max-height: 180vh;
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;

}
.accordion-item {
    --accent: #ff3e3e;
    --gradient: #391717;
    width: 5em;
    height: 23em;
    border-radius: 3em;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.6);
    border-bottom: 2px transparent solid;
    transition:
            200ms cubic-bezier(.91,.36,.84,.6);

}

.accordion-item:nth-child(2) {
    --accent: #3e9eff;
    --gradient: #172939;
}
.accordion-item:nth-child(3) {
    --accent: #e8ff3e;
    --gradient: #353917;
}

.accordion-item:before {
    content: "";
    background: linear-gradient(
            0deg, var(--gradient), transparent
    );
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    transition: 200ms;
}

.accordion-item:hover {
    border-bottom: 2px var(--accent) solid;
}

.accordion-item:not(.item-active):hover:before {
    opacity: 1;
    height: 50%;
}

.accordion-item img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    filter: brightness(0.3);
    transition: width 300ms;
    transition-delay: 200ms;

}

.accordion-item:hover:not(.item-active) img,
.item-active img {
    filter: brightness(1.5);
}

.accordion-item > div {
    position: absolute;
    left: 8em;
    bottom: 2em;
    width: 450px;
    max-width: calc(100% - 4em);
    color: #fff;
    transition: none;
    opacity: 0;
    z-index: 1;
}

.accordion-item h2 {
    margin-bottom: 5em;
}

.accordion-item p {
    line-height: 30px;
    font-size: 0.9em;
}

.item-active {
    width: 25em;
    border-bottom: 2px var(--accent) solid;
}

.item-active > div {
    left: 2em;
    transition: 200ms;
    transition-delay: 200ms;
    opacity: 1;
}

.item-active img {
    width: 120%;
}

.item-active:before {
    opacity: 1;
}

@media screen and (max-width: 800px){
    .gallery__item {
        flex-direction: column;
    }
    .accordion-item {
        width: calc(var(--index) * 21);
        height: 5em;
    }
    .item-active{
        height: 15em;
        max-width: calc(var(--index) * 21);
    }
}

/* NAVBAR*/
.navbarSticky {

    height: 50px;
    width: 80%;
    top: 1%;
    left: 10%;
    right: 10%;
    position: sticky;
    z-index: 10;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
}
.navbarSticky .logoNav {
    height: 80%;
}
.nav-list {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
}
.nav-list li{
    position: relative;
    list-style: none;

}

.nav-list li .btnNav{
    position: relative;
    margin: 2lvw;

}

.rank {
    border: 5px solid black;
    height: 700px;
    width: 500px;
}

.modal-overlay {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modal-content {
    width: 100%;
    height: 100%;
    position: relative;
}



.highPage {
    position: relative;
    color: #0b0;
    font-size: 10px;
    line-height: 1.5;
    font-family: 'Press Start 2P', cursive;
    overflow-y: auto;
}

.skulls {
    position: relative;
    padding: 16px 0 24px;
    border: 2lvw solid;
    border-image: url(https://skullctf.com/images/skull-border.svg) 32 round;
}

.highPage h1 {
    text-align: center;
}

.highPage table {
    text-transform: uppercase;
    margin: 0 auto;
}

.highPage table th {
    min-width: 20%;
    text-align: left;
}

.highPage table tr:nth-child(1) td {
    color: red;
}

.highPage table tr:nth-child(2) td {
    color: purple;
}

.highPage table tr:nth-child(3) td {
    color: salmon;
}

.highPage table tr:nth-child(4) td {
    color: orange;
}

.highPage table tr:nth-child(5) td {
    color: yellow;
}
